//- this file is the nonlogged in landing page
//- logic will probably need to change
extends layout

block content
    div.container
      div.jumbotron(style='text-align:center')
        body
            title= title
            h2.login-page-header Welcome, Guest!
            p.underline Sign in
            div(style='margin:auto; width: 50%')
              form(method='POST' action='/')
                div(class='input-group input-group-lg' id='login-box')
                  span.input-group-addon(id='sizing-addon1')
                    span(class='glyphicon glyphicon-user' aria-hidden='true')
                  input.form-control(type='text' placeholder='Username', name='username')
                br
                div(class='input-group input-group-lg' id='login-box')
                  span.input-group-addon(id='sizing-addon1')
                    span(class='glyphicon glyphicon-lock' aria-hidden='true')
                  input.form-control(type='password' placeholder='Password', name='password')
                br
                button(class='btn btn-primary' id='login-box' style='width: 200px' type='submit' value='submit') Submit
                div
                  br
                  a(href="/register") New User? Register here!
                img(src='/images/tank_ani.gif')

              //div
                  .login-input
                      label Username:
                      input(type="text", name="username").login-input-field
              //div
                  .login-input
                      label Password:
                      input(type="password", name="password").login-input-field
              //div
                  .login-input
                      input(type="submit", value="submit").login-input-field
            div
                p #{register_message}
                p #{failureFlash}



