
//- this file is the nonlogged in landing page
//- logic will probably need to change
extends layout

block content
    div
        .login-wrapper
            title= title
            h1.login-page-header Welcome to Tank City
            p.underline Sign in
            div
                .login-input
                    input(type="text", placeholder="Email").login-input-field
            div
                .login-input
                    input(type="password", placeholder="Password").login-input-field