
//- This document is extended to every page
//- it conatins the menu and title elements that are static among the pages
doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
  body
    div(class='navbar navbar-default navbar-fixed-top' style='background-image: url(/images/skyline.png); background-repeat: repeat-x')
      div.container-fluid
        img(src='/images/logo.png' height='100px')
        ul(style='background-color: #003311')
          li
            a(href="/") Home
          li
            a(href="/profile") Profile
          li
            a(href="/scoreboard") Scoreboard
          li
            a(href="/register") Register
          li
            a(href="/lobby") Lobby
    //- logic to check cookie if user is logged in
    block content

  footer.footer
    div.container-fluid
      br
      p(style='padding-left:10px') CSC667 Term Project - Tank City - [ Alex | Ivan | Maroun | Vivian ]
