
//- This document is extended to every page
//- it conatins the menu and title elements that are static among the pages
doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1
      a(href="/") Tank City
    div
      .nav-bar
        ul(id = "list")
          li
            a(href="/") Home
          li
            a(href="/profile") Profile
          li
            a(href="/scoreboard") Scoreboard
          li
            a(href="/register") Register
          li(style = "margin-left: 50%")
            a(id = "welcome") Welcome
          li
            a(id = "logout")



    //- logic to check cookie if user is logged in
    block content
