
//- This document is extended to every page
//- it conatins the menu and title elements that are static among the pages
doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet")
    script(src='//code.jquery.com/jquery.min.js')
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js')
  body
    div(class='navbar navbar-default navbar-fixed-top')
      div.navbar-header
        button(type='button' class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false")
          span.icon-bar
          span.icon-bar
          span.icon-bar
        ul(class='nav navbar-nav navbar-left' style='padding-left:10px')
          a(href="/")
            img(src='/images/logo.png' height='90px')
      div(class='navbar-collapse collapse')
        ul(class='nav navbar-nav navbar-right' style='padding-right:30px')
          li
            a(href="/profile") PROFILE
          li
            a(href="/scoreboard") SCOREBOARD
          li
            a(href="/register") REGISTER
          li
            a(href="/lobby") LOBBY

          - if(userName !== '') {
              li
                a Welcome #{userName}
              li
                a(href = "/logout") LOGOUT
          - }
          li
            a(href = '/game') Game
    block content

    script(src='/socket.io/socket.io.js')
    script(src='/js/main.js')
