extends layout

block content
    br
    br
    br
    br
    h1 #{title}
    h2(id="username") #{user.username}
    h3(id="userid") #{user.player_id}
    body
    #chat-area
        form(action="/lobby" method="post")
            .row
                .messages.col-lg-3.well.well-lg
            .row
                .col-lg-6
                    .input-group
                        input.form-control(class='user-message-input' type='text', placeholder='Enter message' name="msg")
                        span.input-group-btn
                            button.btn.btn-default(class='btn btn-primary send-message' name="send-btn" style='width: 200px' type='submit' value='submit') Send
    br
    br
    br