extends layout

block content
    div.container
      body
        //- Hidden user id behind web elements so we can access users id
        p.hidden #{user.player_id}!
        title Tank City: Lobby
        div.fake-jumbotron-div
          div.game-portion-of-screen
            div.highscore-table-portion
              h2 Scoreboard
              table.scoreboard-table-lobby
                tbody
                  each val in scores
                    tr.score-table-element-lobby
                      td= val.first_name
                      td= val.wins
                  else
                    li No values
            div.game-section
              img.game-section-image(src='/images/logo.png')
            div.profile-stats-portion
              h2.profile-stats-title #{user.first_name}
          
          div.tank-city-talks
            h2.tank-city-talks-title Tank City Talks
            .messages.col-lg-3.well.well-lg
            .input-group
                input.form-control(type='text', placeholder='Enter message' id='user-message-input')
                span.input-group-btn
                    button.btn.btn-default(class='btn btn-primary' id='send-message' style='width: 100px' type='submit' value='submit') Send