
//- Scoreboard page skeleton
extends layout

block content
  div.container
      div.jumbotron(style='text-align:center')
        body
          title Tank City: High Scores
          h2 Scoreboard
            table.scoreboard-table
              tbody
                each val in scores
                  tr.score-table-element
                    td= val.first_name
                    td= val.wins
                else
                  li No values
