
//- Scoreboard page skeleton
extends layout

block content
  .scoreboard-wrapper
    title= title
    h1 Scoreboard
    div
      table.scoreboard-table
        tbody
          each val in scores
            tr.score-table-element
              td= val.first_name
              td= val.wins
          else
            li No values